{% extends 'shared/base.html' %}

{% block title %}- Edit Profile{% endblock %}

{% block body %}
    <div class="container" style="background-color: green">
        <h1 class="display-4" style="color: chartreuse">Edit Your Profile Details - {{ user.email }}</h1>
        <div class="text-center" style="margin: 3% 5%; padding: 5% 5%; background-color: chartreuse">
            <div class="absolute">
                <form action="{% url 'edit profile' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}