{% extends 'shared/base.html' %}

{% block title %}- About us{% endblock %}

{% block body %}
    <div class="container" style="background-color: green">
        <hr>
        <div class="jumbotron parent" style="margin: 3% 5%; padding: 5% 5%; background-color: chartreuse">
            <div class="absolute">
                <p>
                    While some babies and children and their parents are over-satisfied with toys, clothes and
                    accessories, other children and their parents are not as lucky.
                </p>
                <p> If you can`t stop your kids` grandparents from giving you so much things, if you don`t have any more
                    place to store all the items, if your kids don`t play with their toys anymore, they don`t wear their
                    clothes anymore, they don`t need a stroller anymore and you feel neck-deep buried in stuff which you
                    feel guilty to just throw away, then here is the place to unload and to make someones day at the
                    same
                    time.
                    Post the things you are willing to give away and declutter so that you can free you mind and your
                    home.
                </p>
                <p>
                    If you are in need of clothes, toys or any kind of accessories for your children which you cannot
                    afford, do not hesitate to post about the things you need!
                </p>
                <p>
                    This web app is created with the sole purpose to help the needy meet the the ones who have too much
                    and to celebrate the willingness of humans to help each-other out.
                </p>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}