{% extends 'shared/base.html' %}
{% load static %}
{% load profile_complete %}

{% block body %}
    <div class="container" style="background-color: chartreuse">
    {% if user.is_authenticated %}
        {% profile_complete_notification %}
        <h1 class="display-4">Welcome {{ user.email}}</h1>

        {% else %}
    <h1 class="display-4">Welcome to Sharing is Caring</h1>
        {% endif %}
        <div class="jumbotron parent" style="background-color: green">
            <img style="width: 100%"
                 src="{% static 'images/index_background.png' %}" alt="">

        </div>
        <hr>
    </div>
{% endblock %}
