{% extends 'shared/base.html' %}

{% block title %}
    - All Posts
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class='text-center'>All Posted Items</h1>
        <nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom:2%; background-color: gold;">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="{% url 'list needed items' %}">All needed items</a></li>
                    <li><a class="nav-link" href="{% url 'list give-away items' %}">All give-away items</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            {% for post in posts %}

                {% include 'shared/post_card.html' %}

            {% endfor %}
        </div>
    </div>

    {% include 'shared/pagination.html' %}
{% endblock %}