{% load static %}
{% load profile_complete %}

<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom:2%; background-color: chartreuse;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <a class="navbar-brand fs-4" href="{% url 'index' %}">
                <img src="{% static 'images/teddy.png' %}" alt="" height="35" class="d-inline-block align-text-top"></a>
            <li><a class="nav-link" href="{% url 'list items' %}">All posts</a></li>
            {% if request.user.is_authenticated %}
                {% if profile.is_complete %}
                    <li><a class="nav-link" href="{% url 'add post' %}">Add New Post</a></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'profile details' user.id %}">Profile details</a></li>
                <li><a class="nav-link" href="{% url 'sign out' %}">Sign out</a></li>
            {% else %}
                <li><a class="nav-link" href="{% url 'sign up' %}">Sign up</a></li>
                <li><a class="nav-link" href="{% url 'sign in' %}">Sign in</a></li>
            {% endif %}
            <li><a class="nav-link" href="{% url 'about us' %}">About us</a></li>
        </ul>
    </div>
</nav>